<!--
/*
 * Copyright 2012 The Polymer Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
-->
<element name="g-zoom-scrub-panel-transition" extends="g-panel-transition">        
  <link rel="components" href="g-animation.html">
  <script>
    
    var fromFadeKeyframes = [
      {opacity: 1, zIndex: 1},
      {opacity: 0, zIndex: 0}
    ];
    
    var toFadeKeyframes = [
      {opacity: 0, zIndex: 0},
      {opacity: 0, zIndex: 0},
      {opacity: 1, zIndex: 1}
    ];
    
    this.component({
      publish: {      
        transitionClass: '',
        zoomClass: 'g-zoomable',
        setup: function(inPanels) {
          this.$super(arguments);
          this.api = document.createElement('g-animation');
          this.scrub = new this.api.ScrubbedAnimation({
            node: this.panels.node, 
            scrubClick: true,
            scrubType: 'zoom',
            scrubRatio: -.25,
            duration: 300,
            onEnd: this.animationEnd.bind(this),
            onStartScrub: this.startScrub.bind(this)
          });
        },
        setupPanel: function(inPanel, inIndex) {
          this.$super(arguments);
          inPanel.style.webkitTransformOrigin = '0 0';
          var active = inIndex == (this.panels.index || 0);
          inPanel.style.opacity = active ? 1 : 0;
          inPanel.style.zIndex = active ? 1 : 0;
        },
        teardown: function() {
          this.scrub.clear();
          this.$super(arguments);
        },
        teardownPanel: function(inPanel, inIndex) {
          this.$super(arguments);
          inPanel.node.style.webkitTransformOrigin = null;
        },
        startScrub: function(inScrub) {
          this.finish();
          var event = inScrub.scrubEvent;
          this.didScrub = true;
          this.forward = inScrub.forward;
          var d = this.forward ? 1 : -1;
          this.from = this.panels.getSelectedPanel();
          this.to = this.panels.panelAtIndex(this.panels.index + d);
          if (!(this.from && this.to)) {
            //console.warn('missing from?', this.from, 'to?', this.to);
            inScrub.stopScrubbing();
            return;
          }
          this._transitioning = true;
          //console.log('scrub from', this.from.id, 'to', this.to.id);
          if (this.forward) {
            var t = this.targetForEvent(event);
            if (!t) {
              //console.warn('bad scrub target');
              inScrub.stopScrubbing();
              return;
            }
            var keyframes = this.keyframesForTarget(t);
            this.makeAnimations(this.from, this.to, keyframes.from, keyframes.to);
            this.scrub.value = 0;
          } else {
            // TODO(sorvell): weird, using to as from to go backwards
            this.animationsFromPanel(this.to);
            this.scrub.value = 1;
          }
        },
        keyframesForTarget: function(inTarget) {
          var r = inTarget.getBoundingClientRect();
          var pr = this.panels.node.getBoundingClientRect();
          // calc sizes
          var m = 0;
          var x = pr.left - r.left + m;
          var y = pr.top - r.top + m;
          var scaleY = pr.height / (r.height + m*2);
          var scaleX = pr.width / (r.width + m*2);
          // make keyframes for animation
          var from = [
            {x: 0, y: 0, scaleX: 1, scaleY: 1},
            {x: x * scaleX, y: y * scaleY, scaleX: scaleX, scaleY: scaleY}
          ];
          var to = [
            {x: -x, y: -y, scaleX: 1/scaleX, scaleY: 1/scaleY},
            {x: 0, y: 0, scaleX: 1, scaleY: 1}
          ];
          return {from: from, to: to};
        },
        targetForEvent: function(inEvent) {
          var n = inEvent.target;
          var p = this.panels.getSelectedPanel()
          while (n && n != p && n.classList && !n.classList.contains('g-zoomable')) {
            n = n.parentNode;
          }
          return n == document ? null : n;
        },
        makeAnimations: function(inFromPanel, inToPanel, inFromKeyframes, inToKeyframes) {
          inFromPanel._animations = {
            fromFade: new this.api.KeyframeAnimation({
              node: inFromPanel,
              keyframes: fromFadeKeyframes
            }),
            toFade: new this.api.KeyframeAnimation({
              node: inToPanel,
              keyframes: toFadeKeyframes
            }),
            from: new this.api.KeyframeAnimation({
              node: inFromPanel,
              unit: 'px',
              keyframes: inFromKeyframes
            }),
            to: new this.api.KeyframeAnimation({
              node: inToPanel,
              unit: 'px',
              keyframes: inToKeyframes
            })
          };
          this.animationsFromPanel(inFromPanel);
        },
        animationsFromPanel: function(inPanel) {
          var animations = inPanel._animations;
          if (animations) {
            this.scrub.removeAll();
            var a;
            Object.keys(animations).forEach(function(k) {
              a = animations[k];
              this.scrub.add(a);
              this.panels.enablePanelShowing(a.node, true);
            }, this);
          }
        },
        panelHasAnimations: function(inPanel) {
          return Boolean(inPanel._animations);
        },
        // TODO(sorvell): tracking logic does not currently handle > 1 
        // scrub boundary.
        animationEnd: function(inAnim) {
          inAnim.startValue = 0;
          inAnim.endValue = 1;
          if (this.updating) {
            return;
          }
          console.log('animationEnd: move index', ending);
          this.updating = true;
          if (this.didScrub) {
            this.didScrub = false;
            if ((this.forward && (inAnim.value >= inAnim.endValue)) || 
                (!this.forward && (inAnim.value <= inAnim.startValue))) {
              console.log('animationEnd: move index', ending);
              var ending = inAnim.value >= inAnim.endValue;
              this.scrub.value = ending ? 1 : 0;
              this.panels.node.index += ending ? 1 : -1;
            } else {
              this.scrub.value = 0;
            }
          }
          this.finish();
          this.highlander = true;
          this.updating = false;
        },
        canTransition: function(inFrom, inTo, inForward) {
          return !this.updating;
          //return !this.updating && ((inForward && this.panelHasAnimations(inFrom)) ||
          //  (!inForward && this.panelHasAnimations(inTo)));
        },
        // transitions typically override begin/complete
        begin: function() {
          this._transitioning = true;
          var s = this.forward ? this.from : this.to;
          if (this.panelHasAnimations(s)) {
            this.animationsFromPanel(s);
          } else {
            this.makeAnimations(this.from, this.to);
          }
          //this.animationsFromPanel(this.forward ? this.from : this.to);
          var s = this.forward ? 0 : 1, e = this.forward ? 1 : 0;
          //console.log(this.from.id, this.to.id, s, e);
          this.scrub.value = s;
          this.scrub.seek(e);
        },
        complete: function() {
          //console.log('complete');
          if (this.scrub.scrubbing) {
            this.scrub.stopScrubbing();
          }
          this.scrub.stop();
        },
        finish: function() {
          this.highlander = false;
          this.$super()
          this.highlander = true;
        }
      }
    });
  </script>
</element>

