/*
 * Copyright 2013 The Polymer Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
@host {
  * {
    display: inline-block;
    position: relative;
    min-width: 60px;
    height: 24px;
    overflow: hidden;
    border: 1px solid #b6b6b6;
    border-radius: 2px;
    box-shadow: inset 0px 0px 1px 0 rgba(0,0,0,0.1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-transition: border 0.130s ease-out;
    transition: border 0.130s ease-out;
    cursor: pointer;
    font-size: 10px;
  }

  *.on {
    border: 1px solid #0fb2c6;
  }
}

.toggle {
  position: absolute;
  left: -webkit-calc(-100% + 24px);
  left: -moz-calc(-100% + 24px);
  left: calc(-100% + 24px);
  width: -webkit-calc(200% - 24px);
  width: -moz-calc(200% - 24px);
  width: calc(200% - 24px);
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: left 0.130s ease-out;
  transition: left 0.130s ease-out;
}

.toggle.dragging {
  -webkit-transition: none;
  transition: none;
}

.toggle.on {
  left: 0;
}

.toggle > * {
  float: left;
}

.on-label, .off-label {
	/* align center */
	display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  /* */
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.on-label {
  padding-right: 12px;
  background-color: #2fb2c6;
  color: white;
}

.off-label {
  padding-left: 12px;
  background-color: #bfbfbf;
  color: #716f6f;
}

.thumb {
  position: absolute;
  left: -webkit-calc(50% - 12px);
  left: -moz-calc(50% - 12px);
  left: calc(50% - 12px);
  width: 24px;
  height: 100%;
  border-radius: 1px;
  background-color: white;
}
