<link rel="import" href="../../../toolkit-ui/elements/g-animation.html">
<link rel="import" href="x-staggered-group.html">
<link rel="import" href="x-left-right.html">
<element name="x-cats">
  <template>
    <style>
      @host {
        * {
          display: -webkit-flex;
        }
      }
      x-item {
        display: inline-block;
        margin: 5px;
        padding: 10px;
        background-color: white;
        border: 1px solid #ccc;
      }
      #grid {
        visibility: hidden;
        position: absolute;
        height: 100%;
        width: 100%;
      }
      #fixed {
        position: fixed;
        background-color: white;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        padding: 10px;
        font-size: 24px;
        display: none;
      }
      #leftright {
        visibility: hidden;
        position: absolute;
        height: 100%;
        width: 100%;
      }
    </style>
    <div id="grid">
      <template repeat="{{contents}}">
        <x-item url="{{url}}" on-load="onLoad" on-click="onClickItem"></x-item>
      </template>
    </div>
    <div id="fixed" on-click="onClickFixed">
      Hi!
    </div>
    <x-left-right id="leftright" class="flexbox">
    </x-left-right>
    <!-- animations //-->
    <x-staggered-group id="cascade" easing="ease-in-out" offset="0.02">
      <template repeat="{{contents}}">
        <g-animation duration="0.2" fillMode="backwards">
          <g-property name="opacity">
            <g-keyframe value="1"></g-keyframe>
          </g-property>
        </g-animation>
      </template>
    </x-staggered-group>
    <g-animation-group id="gridtofixed">
      <x-staggered-group id="gridfade" offset="0.02" easing="ease-in-out">
        <template repeat="{{transitionProperties.gridtofixed.gridfade}}">
          <g-animation duration="0.2" fillMode="forwards">
            <g-property name="opacity">
              <g-keyframe offset="0" value="1"></g-keyframe>
              <g-keyframe offset="1" value="0"></g-keyframe>
            </g-property>
          </g-animation>
        </template>
      </x-staggered-group>
      <g-animation-group>
        <g-animation id="fadeout" duration="0.03">
          <g-property name="opacity">
            <g-keyframe offset="0" value="1"></g-keyframe>
            <g-keyframe offset="1" value="0"></g-keyframe>
          </g-property>
        </g-animation>
        <g-animation id="grow" startOffset="0.01" duration="0.2" easing="ease-in-out">
        </g-animation>
      </g-animation-group>
    </g-animation-group>
    <g-animation-group id="gridtoleftright">
      <x-staggered-group id="gridfade2" offset="0.02" easing="ease-in-out">
        <template repeat="{{transitionProperties.gridtoleftright.gridfade}}">
          <g-animation duration="0.2" fillMode="forwards">
            <g-property name="opacity">
              <g-keyframe offset="0" value="1"></g-keyframe>
              <g-keyframe offset="1" value="0"></g-keyframe>
            </g-property>
          </g-animation>
        </template>
      </x-staggered-group>
      <g-animation id="growmain" startOffset="0.01" duration="0.2" easing="ease-in-out"></g-animation>
      <g-animation id="growother" startOffset="0.01" duration="0.2" easing="ease-in-out"></g-animation>
    </g-animation-group>
  </template>
  <script>
    function seq(inCount) {
      var arr = new Array(inCount);
      for (var i = 0; i < inCount; i++) {
        arr[i] = i;
      }
      return arr;
    }

    Polymer.register(this, {
      count: 10,
      loadedCount: 0,
      contents: null,
      layout: 'none',
      transitionProperties: {
        gridtofixed: {
          gridfade: seq(9)
        },
        gridtoleftright: {
          gridfade: seq(5)
        }
      },
      ready: function() {
        this.countChanged();
      },
      countChanged: function() {
        var contents = [];
        for (var i = 0; i < this.count; i++) {
          var row2 = i > 5;
          contents.push({
            url: 'http://placekitten.com/g/150/' + (150 + i * 2)
          });
        }
        this.contents = contents;
        this.loadedCount = 0;
      },
      loadedCountChanged: function() {
        if (this.loadedCount === this.count) {
          this.$.grid.style['visibility'] = 'visible';
          this.transition('grid');
        }
      },
      onLoad: function() {
        this.loadedCount += 1;
      },
      onClickItem: function(inEvent, inArg, inEl) {
        this.el = inEl;
        this.transition('fixed', this.el);
        //this.transition('leftright', this.el);
      },
      onClickFixed: function() {
        this.transition('grid', this.el);
      },
      transition: function(inLayout, inArgs) {
        console.log('transition', this.layout, inLayout);
        var transitions = {
          none: {
            grid: {
              type: 'cascade',
              direction: 'normal',
              setup: 'setupCascade'
            }
          },
          grid: {
            fixed: {
              type: 'gridtofixed',
              direction: 'normal',
              setup: 'setupGridToFixed'
            },
            leftright: {
              type: 'gridtoleftright',
              direction: 'normal',
              setup: 'setupGridToLeftRight'
            }
          },
          fixed: {
            grid: {
              type: 'gridtofixed',
              direction: 'reverse',
              setup: 'setupGridToFixed'
            }
          },
          leftright: {
            grid: {
              type: 'gridtoleftright',
              direction: 'reverse',
              setup: 'setupGridToLeftRight'
            }
          }
        };
        var transition = transitions[this.layout][inLayout];
        this.layout = inLayout;
        this[transition.setup](inArgs);
        this.$[transition.type].direction = transition.direction;
        this.$[transition.type].play();
      },
      setupCascade: function() {
        var items = this.webkitShadowRoot.querySelectorAll('x-item');
        var anims = this.$.cascade.querySelectorAll('g-animation');
        var n = items.length / 2;
        for (var i = 0; i < n; i++) {
          anims[i * 2].target = items[i];
          if (i * 2 < items.length) {
            anims[i * 2 + 1].target = items[i + n];
          }
        }
      },
      setupGridToFixed: function(inEl) {
        this.setupGridFade(this.$.gridfade, inEl);
        var rect = inEl.getBoundingClientRect();
        this.$.fadeout.target = inEl;
        this.$.grow.properties = {
          top: [rect.top + 'px', '0px'],
          left: [rect.left + 'px', '200px'],
          bottom: [window.innerHeight - rect.bottom + 'px', '0px'],
          right: [window.innerWidth - rect.right + 'px', '200px'],
          display: ['none', 'block']
        };
        this.$.grow.target = this.$.fixed;
      },
      setupGridToLeftRight: function(inEl) {
        var fromRect = inEl.getBoundingClientRect();
        var toRects = this.$.leftright.setup(fromRect);
        /*
        this.$.growmain.properties = {
          top: [fromRect.top + 'px', 
        };
        */
        this.setupGridFade(this.$.gridfade2, inEl);
      },
      setupGridFade: function(inAnim, inEl) {
        var items = this.webkitShadowRoot.querySelectorAll('x-item');
        var arr = [];
        for (var i = 0, n; n = items[i]; i++) {
          if (n !== inEl) {
            arr.push(n);
          }
        }
        var origin = inEl.getBoundingClientRect().left;
        arr.sort(function(inEl1, inEl2) {
          var dist1 = Math.abs(inEl1.getBoundingClientRect().left - origin);
          var dist2 = Math.abs(inEl2.getBoundingClientRect().left - origin);
          return dist1 - dist2;
        }.bind(this));
        var anims = inAnim.querySelectorAll('g-animation');
        for (var i = 0, a; a = anims[i]; i++) {
          a.target = arr[i];
        }
      }
    });
  </script>
</element>

<element name="x-item">
  <template>
    <style>
      img {
        width: 150px;
        height: 150px;
      }
    </style>
    <img id="image" src="{{url}}">
  </template>
  <script>
    Polymer.register(this, {
      url: null,
      ready: function() {
        this.$.image.onload = this.onLoad.bind(this);
      },
      onLoad: function() {
        this.send('load');
      }
    });
  </script>
</element>
