<link rel="component" href="x-animation.html">
<element name="x-fade" extends="x-animation">
  <script>
    Polymer.register(this, {
      type: 'fadeOut',
      // animation
      properties: {opacity: '0'},
      accumulate: 'none',
      composite: 'replace',
      // timing
      duration: 0,
      fillMode: 'forwards',
      easing: 'linear',
      iterationCount: 1,
      startDelay: 0,
      ready: function() {
        this.super();
        this.typeChanged();
      },
      typeChanged: function() {
        if (this.type === 'fadeOut') {
          this.properties = {opacity: "0"};
        } else if (this.type === 'fadeIn') {
          this.properties = {opacity: "1"};
        }
      }
    });
  </script>
</element>
