<element name="x-left-right">
  <link rel="stylesheet" type="text/css" href="../../../toolkit-ui/elements/css/g-flex-layout.css">
  <template>
    <style>
      div {
        display: inline-block;
        background-color: white;
        border: 1px solid #ccc;
        margin: 5px;
        padding: 10px;
        height: 340px;
      }
      div.big {
        width: 522px;
      }
      div.small {
        width: 336px;
      }
    </style>
    <div id="left" class="big">
      <content select="*:first-child"></content>
    </div>
    <div id="right" class="small">
      <content select="*:last-child"></content>
    </div>
  </template>
  <script>
    Polymer.register(this, {
      setup: function(inTargetRect) {
        var larger = this.webkitShadowRoot.querySelector('.big');
        var small = this.webkitShadowRoot.querySelector('.small');
        var largerRect = larger.getBoundingClientRect();
        if (!(inTargetRect.top >= largerRect.top &&
            inTargetRect.top <= largerRect.bottom &&
            inTargetRect.left >= largerRect.left &&
            inTargetRect.left <= largerRect.right)) {
              console.log('swap');
          small.className = 'big';
          larger.className = 'small';
          var t = small;
          small = larger;
          larger = t;
        }
        return {
          target: larger.getBoundingClientRect(),
          other: small.getBoundingClientRect()
        };
      }
    });
  </script>
</element>
