@host {
	:scope {
		position: relative;
		display: inline-block;
	}
	.fullwidth {
		position: static;
	}
}

#overlay {
	position: absolute;
}

#overlay[halign=right] {
	right: 10px;
}

#overlay[valign=top] {
	bottom: 48px;
}

#overlayMenu {
	display: inline-block;
	position: relative;
	top: -1px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
	margin: 7px 0 0 7px;
}

@media screen and (max-width: 800px) {
  #overlay,
	#overlay[align=right] {
    left: 0;
    width: 100%;
    -webkit-transform: none;
    transform: none;
  }  
}

#arrow {
	height: 18px;
}
