
.quarter {
  width: 25%;
}
.half {
  width: 50%;
}
.three-quarters {
  width: 75%;
}
.third {
  width: 33.333%;
}
.two-thirds {
  width: 66.666%;
}
.full {
  width: 100%;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

/*
Navigation Bar
--------------
  <topcoat-navbar>
    <topcoat-navbar-item class="left quarter">
      <a is="topcoat-icon-button" class="quiet" icon="menu-stack"></a>
    </topcoat-navbar-item>
    <topcoat-navbar-title class="center half">Header</topcoat-navbar-title>
    <topcoat-navbar-item class="right quarter">
      <a is="topcoat-icon-button" class="quiet" icon="menu-stack"></a>
    </topcoat-navbar-item>
  </topcoat-navbar>
*/
@host {
  :scope {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    white-space: nowrap;
    overflow: hidden;
    word-spacing: 0;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: #595b5b;
    color: #fff;
    -webkit-box-shadow: inset 0 -1px #333434, 0 1px rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px #333434, 0 1px rgba(0,0,0,0.15);
  }
.topcoat-navigation-bar__item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  margin: var-margin;
  line-height: 4rem;
  vertical-align: top;
}
.topcoat-navigation-bar__title {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.3rem;
  font-weight: 400;
  color: #fff;
}
