/*
Copyright 2013 The Toolkitchen Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/

#sampleMenuContainer {
  position: relative;
  overflow: auto;
}

#elementMenuContainer {
  overflow: hidden;
}

#elementMenu {
  overflow: auto;
}

.element-menu-header {
  padding: 12px 20px;
  font-weight: bold;
  opacity: 0.8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.02);
}