/*
 * Copyright 2013 The Polymer Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

#panels {
  position: absolute;
  top: 61px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: none;
}

#home, #topics, #explore, #accounts {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  overflow-y: auto;
  background-color: white;
}
