/*
 * Copyright 2013 The Polymer Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

@host {
  * {
    overflow: hidden;
  }
}

#ribbon {
  position: absolute;
  top: 0;
  width: 260px;
  bottom: 0;
  left: 0px;
  -webkit-transition: left 0.1s;
}

#ribbon.minimize {
  left: -260px;
}

#main {
  position: absolute;
  top: 0;
  right: 0px;
  bottom: 0px;
  left: 260px;
  background: white; 
  -webkit-transition: left 0.1s;
}

#main.maximize  {
  left: 0;
}