html,body {
	background: #eee;
	color: #333;
	font: 1em/1.3 Arial, sans; max-width: 45em;
}

h1 {
	font-size: 1.2em;
}

output {
	display: block;
	padding: 1em;
	font-size: 0.75em;
	background: #ddd;
	height: 20em;
	overflow:auto;
	line-height: 1;
}

output strong {
	color: #f00;
	text-decoration: underline;
}

button, .button {
	width: 100%;
	height: 4rem;
	margin: 0 0 1rem;
	padding: 0.15rem 1.5rem;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font: 1.6rem/3.8rem Arial, Sans-serif;
	text-align: center;
	text-decoration: none;
	outline: none;
    color: #fff;
    text-decoration: none;
    background-color: #0099e5;
    border: 1px solid #06A;
    border-radius: 0.3rem;
    -webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.15) inset;
    box-shadow: 0px 1px 0px rgba(255,255,255,0.15) inset;
	transition: color .1s linear;
}

button:focus, button:hover,
.button:focus, .button:hover {
	background-color: #0AF;
}

button:active,
.button:active  {
	background-color: #0099e5;
    -webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.15) inset;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.15) inset;
}

button::-moz-focus-inner,
.button::-moz-focus-inner {
  border: none;
  outline: none;
}