body {
	background-color: #000000;
	margin: 0px;
}
canvas {
	background-color:#402724;
	display:block; 
	position:absolute; 
}
.container {
	width:auto;
	text-align:center;
	background-color:#ff0000;
}