#sidebar {
  position: absolute !important;
}

#workspace {
  border: 5px dashed orange;
  background-color: white;
}

#output {
  width: 400px;
  background-color: whitesmoke;
  padding: 16px;
  box-sizing: border-box;
}

* {
  X-webkit-transition: top, left;
  -webkit-transition: top, right, bottom, left;
  X-webkit-transition: width, height;
  -webkit-transition-duration: 0.3s;
}

polymer-ui-toolbar {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.28);
  height: 78px;
  line-height: 78px;
  padding-left: 8px;
  font-size: 21px;
  background: #333333 -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.9));
  background: #333333 -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.9));
  background: #333333 -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.9));
  color: #ededed;
}

polymer-ui-sidebar-menu {
  /* technical */
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* size */
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  background: -webkit-linear-gradient(-60deg, #3d3d3d, #353535);
  background: -moz-linear-gradient(-60deg, #3d3d3d, #353535);
  background: -ms-linear-gradient(-60deg, #3d3d3d, #353535);
}

polymer-ui-menu-item {
  padding: 8px;
  display: block;
  color: #EEEEEE;
}

polymer-ui-icon-button {
  cursor: pointer;
  background-color: #001e48;
  border-radius: 16px;
  padding: 4px 6px 6px;
  margin: 0 8px;
}

polymer-ui-icon-button:hover {
  color: #111;
  background-color: #0062eb;
}
