<!--
/*
 * Copyright 2013 The Polymer Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
-->
<link rel="import" href="../../../more-elements/cool-clock/cool-clock.html"/>
<link rel="import" href="../../../more-elements/polymer-stock/polymer-stock.html"/>
<link rel="import" href="../../../more-elements/wu-weather/wu-weather.html"/>
<polymer-element name="pi-home" attributes="stocks">
  <template>
    <link rel="stylesheet" href="css/pi-home.css" />
    <div class="widgets">
      <div class="center">
        <cool-clock></cool-clock>
      </div>
      <div class="center">
        <wu-weather autoupdate="false"></wu-weather>
      </div>
      <template repeat="{{stocks}}">
        <polymer-stock symbol="{{}}" autoupdate="false"></polymre-stock>
      </template>
    </div>
  </template>
  <script>
    Polymer('pi-home', {
      created: function() {
        this.asyncFire('ready');
      }
    });
  </script>
</polymer-element>
